*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gocache/
.kotlin/
.idea/
output/
key/
mysql_exam_import/
/updb.db
/客车.db
*.db
!/app/src/main/assets/databases/.gitkeep
*.apk
*.ap_
*.aab
**/__pycache__/
*.pyc
/app/release/
